
@import{
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap');
</style>}





*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{

    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
 position: relative;
  width:   100%;
 display: flex;
    justify-content: space-between;
    align-items: center ;
}

.content .textBox{
  position: relative;
    max-width: 600px;
}

.content .textBox h1{
   color: tan;
    font-size: 4em;
    line-hight: 1.4em;
    font-weight: 500;
    padding-bottom: 20px;

}

.content .textBox h2 span{
   color: darkgray;
    font-size: 1.2em;
    font-weight: 900;
    color: darkgray;


}

.content .textBox p{
    color: black;
    padding-top: 20px;
}

.content .textBox a{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
  background: tan;
    color: white;
    border-radius:50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}

.content .HomeBild{
 width: 600px;

 display: flex;
    justify-content: flex-end;
padding-right: 100px;
margin-top: 50px;

}

.content .HomeBild img{
max-width: 340px;

}

.sci{
    position: absolute;
    top: 50%;
   right:0;
    transform: translateY (-50%;)
    display: flex;

    align-items: center;
    flex-direction: column;


}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
filter: invert(1);

}

.circle{
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: tan;
    clip-path: circle(600px at right 800px);
}
.Über mich{
width: 100%;
padding: 100px 0px;
}

.main img{
height: 400px;
width: auto;
}
.about-text{
width: 550px;
}
.main{
width: 1130px;
max-width: 95%;
margin: 0 auto;
display-items: cover;
display: flex;
justify-content: space-around;
}

.about-text h2{
color:darkgrey;
font-size: 3em;
text-transform: capitalize;
margin-bottom: 20px;
line-hight: 1.4em;
font-weight: 500;}

.about-text h5{
color: tan;
letter-spacing: 2px;
font-size: 22px;
margin-bottom: 25px;
text-transform: capitalize;
}

.about-text h5 span{
color: black;
}
.about-text p{
letter-spacing: 1px;
line-height: 28px;
margin-bottom: 45px;
font-size: 18px;
}

button{
background-color: tan;
color: white;
text-decoration: none;
border: 2px solid transparent;

    display: inline-block;

    padding: 10px 20px;
    background: tan;
    color: white;
    border-radius:50px;
    font-weight: 500;
    letter-spacing: 1px;
}

button:hover{
background-color: black;
border: 2px tan
cursor: pointer;
}

.service{

    width: 100%;
    padding: 100px 0px;
}

.title h2{
color: darkgrey;
    font-size: 56px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{

    height: 365px;
    width: 300px;
    padding: 20px 35px;
    background: tan;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overfolw: hidden;
    text-align: center;
}

.card .serviceIcons{
    font-size: 50px;
    display: block:
    text-align: center;
    marign: 25px;
}

.pfeil{
    display: flex;
    padding-top: 20px;
    transform: rotate(20deg);
    color: darkgrey;

}

h5{
    padding-top: 5px;
    color: black;
    font-size: 23px;
    margin-bottom: 15px:

}
.container{
position: relative;
    min-width: 1000px;
    min-height: 550px;
    display: flex;
}

.pra p{
    padding-top: 15px;
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: darkgrey;
    color: white;
    text-decoration: none;
    border: 2px solid transparent:
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: black;
    border: 2px tan
    cursor: pointer;
}

.container .containerInfo{
    position: absolute;
    width: 350px;
    height: calc(100% - 80px);
    background: tan;
    z-index: 1000;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);

}
.container .containerInfo h2{
    color: white;
    font-size: 24px;
    font-weight: 500;

}
.container .containerInfo ul.info{
    position: relative;
    margin: 50px 0;
    max-width: 10%;

}

.container .containerInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 25px 0;
    cursor: pointer;
    align-items: flex-start;
}


.container .containerInfo ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}


.container .containerInfo ul.info li span:nth-child(1)img{
    max-width: 100%;
    filter: invert(1);
}

.container .containerInfo ul.info li span:nth-child(2){
    color: white;
    margin-left: 10px;
    font-weight:300;

}



.container .containerForm{
    position: absolute;
    padding: 70px 70px;
    padding-left: 250px;
    margin-left: 150px;
    width: 910px;
    height: 100%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);

}



.container .containerForm h2{
color: tan;
    font-size: 24px;
    font-weight: 500;

}

.container .containerForm .formBox{
    position: relative;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 30px;

}

.container .containerForm .formBox .inputBox{

position: relative;
    margin-bottom: 5px;
}

.container .containerForm .formBox .inputBox .w50{
 width: 47%;
}

.container .containerForm .formBox .inputBox .w100{
    width: 100%;

}

.container .containerForm .formBox .inputBox input,.container .containerForm .formBox .inputBox textarea{
 width: 100%;
    resize: none;
    padding: 25px;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    border: none;
    outline: none;
    border-bottom: 1px solid darkgrey;


}

.container .containerForm .formBox .inputBox textarea{
 height:  120px;
}

.container .containerForm .formBox .inputBox span{
   position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 16px;
    font-weight: 300px;
    transition: 0.3s;
}

.container .containerForm .formBox .inputBox input:focus ~ span,
.container .containerForm .formBox .inputBox input:valid ~ span,
.container .containerForm .formBox .inputBox textarea:focus ~ span,
.container .containerForm .formBox .inputBox textarea:valid ~ span{

    transform: translateY(-20x);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: tan;
    font-weight: 500;

}
.container .containerForm .formBox .inputBox input[type="submit"]{


    cursor: pointer;
    color: white;
    border: none;
    max-width: 150px;

    background-color: tan;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;



    padding: 15px 20px;
    background: tan;
    color: white;
    border-radius:50px;
    font-weight: 500;
    letter-spacing: 1px;


}



.container .containerForm .formBox .inputBox input[type="submit"]:hover{
    background:black;

}

@media (max-width : 1000px){

.container{
    width: 90%
    min-width: auto;
    margin: 20px;

}





}



footer{
    position: relative;
    width: 100%;
    height: 80px;
    background: tan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

footer p:nth-child(1){
    font-size: 21px;
    color: white;
    margin-bottom: 1px;
    font-weight: bold;

}
footer p:nth-child(2){
    font-size: 12px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;


}



